{
    "extends": "stylelint-config-standard-scss",
    "plugins": [
        "stylelint-order",
        "stylelint-plugins"
    ],
    "rules": {
        "font-family-no-missing-generic-family-keyword": null,
        "at-rule-no-unknown": null,
        "no-descending-specificity": null,
        "declaration-empty-line-before": null,
        "declaration-property-value-disallowed-list": [
            {
                "min-height": [
                    "auto"
                ]
            }
        ],
        "color-hex-length": null,
        "selector-pseudo-element-colon-notation": "single",
        "number-leading-zero": "never",
        "no-duplicate-selectors": true,
        "function-name-case": [
            "lower",
            {
                "ignoreFunctions": [
                    "/DXImageTransform/"
                ]
            }
        ],
        "value-keyword-case": [
            "lower",
            {
                "ignoreProperties": [
                    "$font-family-sans-serif",
                    "$font-family-serif"
                ]
            }
        ],
        "order/order": [
            "dollar-variables",
            "declarations",
            {
                "type": "rule",
                "selector": "/^&/"
            },
            {
                "type": "at-rule",
                "name": "media"
            },
            "rules"
        ],
        "stylelint-plugins/selector-blacklist": {
            "blacklist": [
                ".ga",
                ".group",
                ".group-button",
                ".hoge",
                ".sector",
                ".brand",
                ".text-align",
                ".container-btn",
                ".container-label",
                ".list",
                ".space"
            ]
        },
        "stylelint-plugins/media-query-variables": true
    }
}
